# --------------------------------------------------
# IGNORE EVERYTHING BY DEFAULT
# --------------------------------------------------
*

# --------------------------------------------------
# ALLOW PROJECT FILES
# --------------------------------------------------
!.gitignore
!README.md

# ---- App Projekt ----
!app/
app/data/tmp/
app/data/cache/
app/data/exports/
app/data/logs/

# ---- ROS Packages (nur deine drei) ----
!ws_moveit/src/
!ws_moveit/src/mecademic_bringup/
!ws_moveit/src/mecademic_bringup/**
!ws_moveit/src/mecademic_description/
!ws_moveit/src/mecademic_description/**
!ws_moveit/src/mecademic_moveit_config/
!ws_moveit/src/mecademic_moveit_config/**

# Alles andere aus ws_moveit ignorieren
ws_moveit/build/
ws_moveit/install/
ws_moveit/log/
ws_moveit/**/*.pyc
ws_moveit/**/__pycache__/

# ---- Python Ignore ----
__pycache__/
*.pyc
*.pyo
*.log

# ---- VSCode ----
!.vscode/
.vscode/*
!.vscode/settings.json

# ---- System/ROS Kram ignorieren ----
.bash_history
.python_history
.ros/
.rviz2/
.cache/
.ccache/
.ssh/
