# omron_moveit_config/config/moveit_cpp.yaml

planning_scene_monitor_options:
  name: "planning_scene_monitor"
  robot_description: "robot_description"
  joint_state_topic: "joint_states"

  # Updates / TF
  publish_geometry_updates: true
  publish_state_updates: true
  publish_transforms_updates: true
  publish_robot_description: true
  publish_robot_description_semantic: true

  # PlanningScene topic (RViz)
  publish_planning_scene: true
  publish_planning_scene_hz: 10.0
  monitored_planning_scene_topic: "monitored_planning_scene"

planning_pipelines:
  pipeline_names:
    - ompl
    - pilz_industrial_motion_planner
    - chomp
    - stomp
  default_planning_pipeline: ompl

move_group_name: "omron_arm_group"
robot_model_type: "robot_description"

# ------------------------------------------------------------
# PlanRequestParameters Presets (wichtig für MoveItPy/MoveItCpp)
# -> du kannst später per Name auswählen (default_ompl / pilz_lin / ...)
# ------------------------------------------------------------
plan_request_params:
  default_ompl:
    planner_id: "RRTConnectkConfigDefault"
    planning_pipeline: "ompl"
    planning_time: 10.0
    planning_attempts: 50
    max_velocity_scaling_factor: 0.10
    max_acceleration_scaling_factor: 0.10

  pilz_ptp:
    planner_id: "PTP"
    planning_pipeline: "pilz_industrial_motion_planner"
    planning_time: 5.0
    planning_attempts: 1
    max_velocity_scaling_factor: 0.10
    max_acceleration_scaling_factor: 0.10

  pilz_lin:
    planner_id: "LIN"
    planning_pipeline: "pilz_industrial_motion_planner"
    planning_time: 5.0
    planning_attempts: 1
    max_velocity_scaling_factor: 0.10
    max_acceleration_scaling_factor: 0.10

  pilz_circ:
    planner_id: "CIRC"
    planning_pipeline: "pilz_industrial_motion_planner"
    planning_time: 5.0
    planning_attempts: 1
    max_velocity_scaling_factor: 0.10
    max_acceleration_scaling_factor: 0.10

# Optional: trajectory_execution Defaults (nur wenn du MoveIt ausführen lässt)
trajectory_execution:
  allowed_execution_duration_scaling: 1.2
  allowed_goal_duration_margin: 0.5
  allowed_start_tolerance: 0.01
