<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omron_viper_s650">

  <!-- Basis-URDF aus dem Beschreibungspaket -->
  <xacro:include filename="$(find omron_viper_description)/urdf/omron_viper.urdf.xacro" />

  <!-- ros2_control-Xacro aus diesem Paket -->
  <xacro:include filename="omron_viper_s650.ros2_control.xacro" />

  <!-- FakeSystem für Simulation -->
  <xacro:omron_viper_s650_ros2_control name="FakeSystem"/>

</robot>
