<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="omron_viper_s650">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import omron_viper_s650 urdf file -->
    <xacro:include filename="$(find omron_viper_description)/urdf/omron_viper.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="omron_viper_s650.ros2_control.xacro" />


    <xacro:omron_viper_s650_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
