# omron_moveit_config/config/ros2_controllers.yaml
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    # use_sim_time: true  # optional, falls gewünscht

    # Deklaration der Controller (Name -> Typ)
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    omron_arm_group_controller:
      type: joint_trajectory_controller/JointTrajectoryController

# Parameter-Sektion je Controller:
joint_state_broadcaster:
  ros__parameters: {}  # keine speziellen Parameter nötig

omron_arm_group_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces: [position]
    state_interfaces: [position, velocity]
    allow_nonzero_velocity_at_trajectory_end: true
