# omron_moveit_config/config/ros2_controllers.yaml
# Wird vom ros2_control_node geladen

controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    omron_arm_group_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster


omron_arm_group_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    allow_nonzero_velocity_at_trajectory_end: true
