# omron_moveit_config/config/ros2_controllers.yaml

controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    # Standard-Controller für MoveIt & Servo
    omron_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    # JointState-Broadcaster für /joint_states
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster


omron_arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    state_publish_rate: 100.0   # Hz
    action_monitor_rate: 20.0   # Hz

    # einfache Trajectory-Interpolation
    allow_partial_joints_goal: false
    open_loop_control: false
