version: 1

topics:
  servo:
    subscribe:
      - id: twist_out          # UI → ServoNode (delta-Twist)
        name: /servo/delta_twist_cmds
        type: geometry_msgs/msg/TwistStamped
        qos: sensor_data
      - id: joint_out          # UI → ServoNode (delta-Joint)
        name: /servo/delta_joint_cmds
        type: control_msgs/msg/JointJog
        qos: sensor_data
      - id: set_mode           # UI → ServoNode (JOINT_JOG / TWIST / POSE)
        name: /servo/set_mode
        type: std_msgs/msg/String
        qos: default
      - id: set_frame          # UI → ServoNode (world / tcp / ...)
        name: /servo/set_frame
        type: std_msgs/msg/String
        qos: default

    publish:
      - id: cartesian_mm       # ServoNode → moveit_servo
        name: /servo/cartesian_mm
        type: geometry_msgs/msg/TwistStamped
        qos: sensor_data
      - id: joint_jog          # ServoNode → moveit_servo
        name: /servo/joint_jog
        type: control_msgs/msg/JointJog
        qos: sensor_data


  tool:
    subscribe:
      - id: tool_select
        name: /spraycoater/tool/select
        type: std_msgs/msg/String
        qos: default
    publish:
      - id: tool_state
        name: /spraycoater/tool/state
        type: std_msgs/msg/String
        qos: latched
      - id: tool_list
        name: /spraycoater/tool/list
        type: std_msgs/msg/String
        qos: latched

  motion:
    subscribe:
      - id: plan_waypoints
        name: /spraycoater/motion/plan/waypoints
        type: geometry_msgs/msg/PoseArray
        qos: default
      - id: plan_named
        name: /spraycoater/motion/plan/named
        type: std_msgs/msg/String
        qos: default
      - id: execute
        name: /spraycoater/motion/execute
        type: std_msgs/msg/Bool
        qos: default
      - id: stop
        name: /spraycoater/motion/stop
        type: std_msgs/msg/Empty
        qos: default

      # optional
      - id: cmd
        name: /spraycoater/motion/cmd
        type: std_msgs/msg/String
        qos: default
      - id: target_pose
        name: /spraycoater/motion/target_pose
        type: geometry_msgs/msg/PoseStamped
        qos: default

    publish:
      - id: trajectory
        name: /spraycoater/motion/trajectory
        type: trajectory_msgs/msg/JointTrajectory
        qos: default

      - id: planned_trajectory_rt
        name: /spraycoater/motion/trajectory_planned
        type: moveit_msgs/msg/RobotTrajectory
        qos: latched
      - id: executed_trajectory_rt
        name: /spraycoater/motion/trajectory_executed
        type: moveit_msgs/msg/RobotTrajectory
        qos: latched

      - id: preview_markers
        name: /spraycoater/motion/preview/markers
        type: visualization_msgs/msg/MarkerArray
        qos: latched
      - id: motion_result
        name: /spraycoater/motion/result
        type: std_msgs/msg/String
        qos: default

  scene:
    publish:
      - id: cage_list
        name: /spraycoater/scene/cage/list
        type: std_msgs/msg/String
        qos: latched
      - id: mount_list
        name: /spraycoater/scene/mount/list
        type: std_msgs/msg/String
        qos: latched

      - id: substrate_list
        name: /spraycoater/scene/substrate/list
        type: std_msgs/msg/String
        qos: latched

      - id: tool_list
        name: /spraycoater/tool/list
        type: std_msgs/msg/String
        qos: latched

      - id: cage_current
        name: /spraycoater/scene/cage/current
        type: std_msgs/msg/String
        qos: latched
      - id: mount_current
        name: /spraycoater/scene/mount/current
        type: std_msgs/msg/String
        qos: latched
      - id: substrate_current
        name: /spraycoater/scene/substrate/current
        type: std_msgs/msg/String
        qos: latched

    subscribe:
      - id: cage_set
        name: /spraycoater/scene/cage/set
        type: std_msgs/msg/String
        qos: default
      - id: mount_set
        name: /spraycoater/scene/mount/set
        type: std_msgs/msg/String
        qos: default
      - id: substrate_set
        name: /spraycoater/scene/substrate/set
        type: std_msgs/msg/String
        qos: default

  poses:
    subscribe:
      - id: set_home
        name: /spraycoater/poses/set_home
        type: std_msgs/msg/Empty
        qos: default
      - id: set_service
        name: /spraycoater/poses/set_service
        type: std_msgs/msg/Empty
        qos: default
    publish:
      - id: home_pose
        name: /spraycoater/poses/home
        type: geometry_msgs/msg/PoseStamped
        qos: latched
      - id: service_pose
        name: /spraycoater/poses/service
        type: geometry_msgs/msg/PoseStamped
        qos: latched

  spray_path:
    subscribe:
      # UI → spray_path_bridge → SprayPath-Node:
      # Rezeptpfad als MarkerArray (für RViz + weitere Verarbeitung)
      - id: set
        name: /spraycoater/spray_path/set
        type: visualization_msgs/msg/MarkerArray
        qos: default

      # UI → spray_path_bridge → SprayPath-Node:
      # gefahrene Posen (Istpfad) als PoseArray
      - id: executed_poses
        name: /spraycoater/spray_path/executed_poses
        type: geometry_msgs/msg/PoseArray
        qos: default

    publish:
      # SprayPath-Node → UI: "welcher Pfad ist aktiv" (betrifft Sollpfad)
      - id: current
        name: /spraycoater/spray_path/current
        type: std_msgs/msg/String
        qos: latched

      # SprayPath-Node → UI/RViz: Pfad als PoseArray (Sollpfad)
      - id: poses
        name: /spraycoater/spray_path/poses
        type: geometry_msgs/msg/PoseArray
        qos: default

      # SprayPath-Node → UI/RViz: fertige Marker (Sollpfad)
      - id: markers
        name: /spraycoater/spray_path/markers
        type: visualization_msgs/msg/MarkerArray
        qos: latched

      # SprayPath-Node → UI/RViz: gefahrene Posen (Istpfad)
      - id: executed_poses
        name: /spraycoater/spray_path/executed_poses
        type: geometry_msgs/msg/PoseArray
        qos: default

      # SprayPath-Node → UI/RViz: fertige Marker für den Istpfad
      - id: executed_markers
        name: /spraycoater/spray_path/executed_markers
        type: visualization_msgs/msg/MarkerArray
        qos: latched

  robot:
    subscribe:
      - id: init
        name: /spraycoater/robot/init
        type: std_msgs/msg/Empty
        qos: default
      - id: stop
        name: /spraycoater/robot/stop
        type: std_msgs/msg/Empty
        qos: default
      - id: clear_error
        name: /spraycoater/robot/clear_error
        type: std_msgs/msg/Empty
        qos: default
      - id: power_on
        name: /spraycoater/robot/power_on
        type: std_msgs/msg/Empty
        qos: default
      - id: power_off
        name: /spraycoater/robot/power_off
        type: std_msgs/msg/Empty
        qos: default
      - id: servo_on
        name: /spraycoater/robot/servo_enable
        type: std_msgs/msg/Empty
        qos: default
      - id: servo_off
        name: /spraycoater/robot/servo_disable
        type: std_msgs/msg/Empty
        qos: default

    publish:
      - id: connection
        name: /spraycoater/robot/connection
        type: std_msgs/msg/Bool
        qos: default
      - id: mode
        name: /spraycoater/robot/mode
        type: std_msgs/msg/String
        qos: default
      - id: initialized
        name: /spraycoater/robot/initialized
        type: std_msgs/msg/Bool
        qos: default
      - id: moving
        name: /spraycoater/robot/moving
        type: std_msgs/msg/Bool
        qos: default
      - id: servo_enabled
        name: /spraycoater/robot/servo_enabled
        type: std_msgs/msg/Bool
        qos: default
      - id: power
        name: /spraycoater/robot/power
        type: std_msgs/msg/Bool
        qos: default
      - id: estop
        name: /spraycoater/robot/estop
        type: std_msgs/msg/Bool
        qos: default
      - id: errors
        name: /spraycoater/robot/errors
        type: std_msgs/msg/String
        qos: default
      - id: tcp_pose
        name: /spraycoater/robot/tcp_pose
        type: geometry_msgs/msg/PoseStamped
        qos: sensor_data
      - id: joints
        name: /spraycoater/robot/joint_states
        type: sensor_msgs/msg/JointState
        qos: sensor_data
