<?xml version="1.0"?>
<robot name="meca_500_r3" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Boolean Tool Auswahl -->
  <xacro:arg name="use_tool1" default="false"/>
  <xacro:arg name="use_tool2" default="false"/>

  <!-- Basisroboter -->
  <xacro:include filename="$(find mecademic_description)/urdf/meca_500_r3.urdf.xacro"/>

  <!-- Tool 1 -->
  <xacro:if value="$(arg use_tool1)">
    <xacro:include filename="$(find mecademic_description)/urdf/tools/spray_nozzle_01.xacro"/>
    <xacro:spray_nozzle_01 parent="tool_mount"/>
  </xacro:if>

  <!-- Tool 2 -->
  <xacro:if value="$(arg use_tool2)">
    <xacro:include filename="$(find mecademic_description)/urdf/tools/spray_nozzle_02.xacro"/>
    <xacro:spray_nozzle_02 parent="tool_mount"/>
  </xacro:if>

</robot>
