<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Spray Nozzle 02 Tool -->
  <xacro:macro name="spray_nozzle_02" params="parent">
  
    <link name="spray_nozzle_02_link">
      <!-- VISUAL -->
      <visual>
        <origin xyz="-0.0215 -0.323 -0.189" rpy="-0.7156 0 0"/>
        <geometry>
          <mesh filename="package://mecademic_description/meshes/spray_nozzle.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>

      <!-- COLLISION -->
      <collision>
        <origin xyz="-0.0215 -0.323 -0.189" rpy="-0.7156 0 0"/>
        <geometry>
          <mesh filename="package://mecademic_description/meshes/spray_nozzle.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

    <!-- FIXED ATTACHMENT TO ROBOT -->
    <joint name="spray_nozzle_02_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="spray_nozzle_02_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <!-- TCP (same as nozzle 1) -->
    <link name="tcp"/>
    <joint name="tcp_joint" type="fixed">
      <parent link="spray_nozzle_02_link"/>
      <child  link="tcp"/>
      <origin xyz="0.085 0 0.07" rpy="0 -1.5708 0"/>
    </joint>

  </xacro:macro>

</robot>
