version: 1

paths:
  recipe_file: "recipes.yaml"
  substrate_mounts_file:  "package://spraycoater_bringup/config/substrate_mounts.yaml"
  substrate_mounts_dir:   "package://spraycoater_bringup/resource/substrate_mounts"
  recipe_dir:   "../../data/recipes"
  log_dir:      "../../data/logs"
  bringup_log:  "../../data/logs/bringup.log"
    
ros:
  launch_ros: true
  sim_robot:  true

