version: 1

paths:
  recipe_dir: "data/recipes"
  log_dir: "data/logs"
  bringup_log: "data/logs/bringup.log"

  recipe_params_file: "resource/config/recipe_params.yaml"
  planner_catalog_file: "resource/config/planner_catalog.yaml"
  recipe_catalog_file: "resource/config/recipe_catalog.yaml"

  substrate_mounts_dir: "data/mounts"
  substrate_mounts_file: "resource/config/substrate_mounts.yaml"

ros:
  launch_ros: false
  bringup_launch: "package://spraycoater_bringup/launch/bringup.launch.py"
  namespace: "spraycoater"
  use_sim_time: false
  robot_type: "omron_viper_s650"

  configs:
    topics_file: "package://spraycoater_bringup/config/topics.yaml"
    qos_file: "package://spraycoater_bringup/config/qos.yaml"
    frames_file: "package://spraycoater_bringup/config/frames.yaml"
    scene_file: "package://spraycoater_bringup/config/scene.yaml"
    robot_file: "package://spraycoater_bringup/config/robot.yaml"
    servo_file: "package://spraycoater_bringup/config/servo.yaml"
    poses_file: "package://spraycoater_bringup/config/poses.yaml"
    tools_file: "package://spraycoater_bringup/config/tools.yaml"

  shadow:
    enabled: true

  live:
    enabled: false
    mode: "omron"
    omron:
      omron: { ip: "192.168.0.10", port: 5000 }
      emulator: { ip: "127.0.0.1", port: 5001 }

plc:
  sim: true
  mode: "ads"
  spec_file: "resource/config/plc.yaml"
  ads:
    ams_net_id: "..."
    ip: "..."
    port: 851
