version: 1

paths:
  recipe_file: "recipes.yaml"
  substrate_mounts_file:  "package://spraycoater_bringup/config/substrate_mounts.yaml"
  substrate_mounts_dir:   "package://spraycoater_bringup/resource/substrate_mounts"
  recipe_dir:   "../../data/recipes"
  log_dir:      "../../data/logs"
  bringup_log:  "../../data/logs/bringup.log"

ros:
  launch_ros: false
  sim_robot:  true
  
configs:
  # Zentrale YAMLs im bringup/config
  topics_file: "package://spraycoater_bringup/config/topics.yaml"
  qos_file:    "package://spraycoater_bringup/config/qos.yaml"
  frames_file: "package://spraycoater_bringup/config/frames.yaml"
  scene_file:  "package://spraycoater_bringup/config/scene.yaml"
  robot_file:  "package://spraycoater_bringup/config/robot.yaml"
  servo_file:  "package://spraycoater_bringup/config/servo.yaml"
  poses_file:  "package://spraycoater_bringup/config/poses.yaml"
  tools_file:  "package://spraycoater_bringup/config/tools.yaml"
